<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="First name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" formControlName="country">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select formControlName="gender">
            <mat-option></mat-option>
            <!-- <mat-option value="Female">Female</mat-option>
            <mat-option value="Not specified">Not specified</mat-option> -->
        </mat-select>
    </mat-form-field>
    <button mat-raised-button [disabled]="!addUserForm.valid" color="primary">Primary</button>
</form>