<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="First name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" formControlName="country">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Gender" formControlName="gender">
    </mat-form-field>

    <button mat-raised-button [disabled]="!addUserForm.valid" color="primary">Primary</button>
</form>