.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: slategray;
    padding: 15px;
}

.header-logo {
    font-size: 20px;
    font-weight: 500;
    color: white;
}
