table {
    width: 100%;
}
.btn-table {
    background-color: slategray;
    margin-left: 20px;
}

th {
    background-color: silver;
    font-size: 15px;
    color: white;
    font-weight: 500;
}
td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
mat-form-field {
    width: 100%;
    background-color: rgb(135, 147, 160);
    color: white;
}
mat-label {
    color: white;
}
